<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="addmanage officers">
  <table width="200" border="1">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">gender</th>

      <th scope="col">Position</th>
      <th scope="col">Department</th>
      <th scope="col">Station</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
   
      <th scope="col">&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>&nbsp;{{loop.index}}</td>
      <td>&nbsp;{{i['name']}} </td>
      <td>&nbsp;{{i['age']}}</td>
      <td>{{i['gender']}}</td>

      <td>{{i['position']}}</td>
      <td>{{i['department']}}</td>
      <td>&nbsp;{{i['station']}}</td>
      <td>&nbsp;{{i['email']}}</td>
      <td>&nbsp;{{i['phone']}}</td>
      
      <td><p><a href="edit_officer?id={{i['offrid']}}">Edit</a></p>
      <p><a href="delete_officer?id={{i['user_id']}}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></p></td>
    </tr>
    {% endfor %}

    <tr>
      <td colspan="10"><label>
      <div align="center">
        <input type="submit" name="Submit" value="Add" />
      </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
