<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="edit_officer1">
  <table width="200" border="1">
    <tr>
      <td>Name</td>
      <td><label>
        <input type="text" name="textfield" value="{{val['name']}}"/>
      </label></td>
    </tr>
    <tr>
      <td>Age</td>
      <td><input type="text" name="textfield2" value="{{val['age']}}"/></td>
    </tr>
    <tr>
      <td>Position</td>
      <td><input type="text" name="textfield3" value="{{val['position']}}"/></td>
    </tr>
    <tr>
      <td>Department</td>
      <td><input type="text" name="textfield4" value="{{val['department']}}"/></td>
    </tr>
    <tr>
      <td>Station</td>
      <td><input type="text" name="textfield5" value="{{val['station']}}"/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="textfield6" value="{{val['email']}}"/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="textfield7" value="{{val['phone']}}"/></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><label>
        <input name="radiobutton" type="radio" value="male" {% if val['gender']=='male'%}checked {% endif %}/>
        male
        <input name="radiobutton" type="radio" value="female" {% if val['gender']=='female'%}checked {% endif %}/>
      female</label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="submit" value="Add" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
