<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="oview case and update status1">View case and update status</a></td>
    </tr>
    <tr>
      <td><a href="managedailyreport1">Manage daily reports</a></td>
    </tr>
    <tr>
      <td><a href="oview complaint and send reply1">View complaint and send reply</a></td>
    </tr>
    <tr>
      <td><a href="ochat with users">Chat with Users</a></td>
    </tr>
    <tr>
      <td><a href="oview feedback">View Feedback</a></td>
      <tr>
     <td><a href="/">Logout</a></td>
    </tr>
    </tr>
  </table>
</form>
</body>
</html>
