<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="register_user">
  <table width="200" border="1">
    <tr>
      <td>Name</td>
      <th scope="col"><label>
        <input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}" />
      </label></th>
    </tr>
    <tr>
      <td>Place</td>
      <td><label>
        <input type="text" name="textfield2"  pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>post</td>
      <td><label>
        <input type="text" name="textfield22" pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>pin</td>
      <td><label>
        <input type="text" name="textfield26" required pattern="[0-9]{6}"/>
      </label></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><label>
        <input name="radiobutton" type="radio" value="Male" checked />
      Male
      <input name="radiobutton" type="radio" value="Female" />
      Female<br />
      <input name="radiobutton" type="radio" value="Other" />
      Other</label></td>
    </tr>
    <tr>
      <td>Age</td>
      <td><label>
        <input type="text" name="textfield3" required pattern="[0-9]{1,2}"/>
      </label></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><label>
        <input type="text" name="textfield4"  required pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label>
        <input type="text" name="textfield5" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
      </label></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><label>
        <input type="text" name="textfield6" required/>
      </label></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label>
        <input type="text" name="textfield7" required/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Register" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
